include ../mixins/flash-messages
 
doctype 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        
        title= title || 'Krandor'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(href="/styles/bootstrap.css", rel="stylesheet")
        
        block css
        block head
    body
        
        #header 
                header(role='banner')#demo-nav
                        nav.navbar.navbar-default.navbar-static-top: .container
                                .navbar-header
                                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                                                span.sr-only Toggle navigation
                                                span.icon-bar
                                                span.icon-bar
                                                span.icon-bar
                                        a.navbar-brand(href='/') Krandor
                                .collapse.navbar-collapse.navbar-ex1-collapse
                                        ul.nav.navbar-nav
                                                each link in navLinks
                                                        li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                                        ul.nav.navbar-nav.pull-right
                                                if user
                                                        li: a(href='/keystone') Open Keystone
                                                else
                                                        li: a(href='/keystone/signin') Sign In

        
        #body
            
            block intro
            
            +flash-messages(messages)
            
            block content
        
        #footer Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
    
    script(src='/js/lib/jquery/jquery-1.10.2.min.js')
    script(src='/js/lib/bootstrap/bootstrap.3.0.3.min.js')

    
    block js
